<header
    class="bg-dark d-xxl-flex align-items-xxl-center py-5"
    data-bs-spy="scroll"
    data-bs-smooth-scroll="true"
    data-bs-target="#home"
>
    <div class="container">
        <div
            class="row text-center d-xxl-flex align-items-xxl-center swing animated"
        >
            <div class="col-md-6 text-center">
                <h1 style="font-size: 52.36px;font-weight: 900;">Atom&nbsp;</h1>
                <p
                    style="font-weight: bold;font-size: 18px;margin-top: 12px; pr-2"
                >
                    Building business websites that are responsive, robust, and
                    lightning fast&nbsp;<i class="bi bi-lightning-charge-fill text-warning" style="font-size: 1.3rem;"></i>
                </p>
                <div class="btn-group" role="group">
                    <button
                        class="btn btn-primary"
                        type="button"
                        style="background: var(--bs-green);border-style: none;color: var(--bs-black);"
                        >Our Services</button
                    ><button
                        class="btn btn-success"
                        type="button"
                        style="background: var(--bs-blue);border-style: none;color: var(--bs-gray-100);"
                        >Get Quote</button>
                </div>
                <div style="margin-top: 44px;">
                    <p
                        class="text-start justify-content-start fw-bold my-0 mx-lg-5"
                    >
                        How we're different:
                    </p>
                </div>
                <div class="justify-content-start align-items-start mx-lg-5">
                    <p
                        class="text-start d-lg-flex justify-content-start align-items-xxl-center py-1 my-0"
                    >
                        <i class="bi bi-check-circle text-success" style="font-size: 1.3rem;"></i>&nbsp; Responsive websites on all platforms
                    </p>
                    <p
                        class="text-start d-lg-flex justify-content-start align-items-xxl-center py-1 my-0"
                    >
                    <i class="bi bi-check-circle text-success" style="font-size: 1.3rem;"></i>&nbsp; Extremely fast delivery times
                    </p>
                    <p
                        class="text-start d-lg-flex align-items-lg-center py-1 my-0"
                    >
                        <i class="bi bi-check-circle text-success" style="font-size: 1.3rem;"></i>&nbsp; Low cost &amp; flexible package options
                    </p>
                </div>
                <ul class="list-group" style="background: black;"></ul>
                <ul class="list-group"></ul>
            </div>
            <div
                class="col-md-6 col-lg-6 offset-lg-0 d-xxl-flex justify-content-xxl-center align-items-xxl-center"
            >
                <img
                    class="img-responsive d-md-flex d-xxl-flex align-content-center"
                    src="img/banner-right-image.png"
                    width="400"
                    style="text-align: center;display: none;"
                />
            </div>
        </div>
    </div>
</header>
