<nav class="navbar navbar-dark navbar-expand-md sticky-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/"
            ><span
                class="bs-icon-sm shadow d-flex justify-content-center align-items-center me-2 bs-icon"
                style="border-style: none;opacity: 1;backdrop-filter: opacity(1);"
                ><img class="img-fluid" src="img/atomsites_logo1.svg" />
            </span><span>Atom</span>
        </a><button
            data-bs-toggle="collapse"
            class="navbar-toggler"
            data-bs-target="#navcol-1"
            ><span class="visually-hidden">Toggle navigation</span><span
                class="navbar-toggler-icon"></span>
        </button>
        <div
            class="collapse navbar-collapse"
            id="navcol-1"
            data-bs-spy="scroll"
            data-bs-smooth-scroll="true"
        >
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"></li>
            </ul><a
                class="btn btn-primary shadow"
                role="button"
                href="signup.html"
                style="background: var(--bs-btn-border-color);">Get Quote</a
            >
        </div>
    </div>
</nav>
