---
interface CustomDataFile {
  default: Record<string, any>;
}
import { title, description } from "../../variables.json";
import Navigation from "../components/Navigation.astro"
import "../styles/css/custom.css";
import "../styles/css/bootstrap.min.css";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<meta name="description" content={description} />
		<meta name="author" content="" />
		<title>{title}</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

	</head>

	<body>
		<Navigation></Navigation>
		<slot />
	</body>

</html>
